.order-form {
    height: 510px;
}

.order-btn button {
    width: 170px;
}

.order-product {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    max-height: 70px;
    overflow-y: auto;
    width: 200px;
}

.order-footer {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 30px;
}

.crud-order-type select {
    font-weight: 700;
}

.order-products-list {
    width: 35%;
}