.date-filter-container {
    display: flex;
    gap: 10px;
}

.date-filter-container button {
    margin: 0;
}

.crud-form-date-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crud-form-date-filter input, select {
    background: transparent;
    border: #bababa 1px solid;
    border-radius: 4px;
    padding: 6px 6px 6px 8px;
    color: gray;
    font-weight: 500;
    font-style: italic;
    flex: 1;
    width: 100px;
}

.crud-form-date-filter input:focus {
    border: none;
}

.crud-form-date-filter label {
    color: #484848;
    font-weight: 500;
    flex-shrink: 0;
    text-align: left;
}